<div class="top"></div>
<section class="p-30">
    <div class="container">
        <h1 class="text-center">Không tìm thấy Phim</h1>
        <a class="btn-submit" href="/movies">Quay lại trang phim</a>
    </div>
</section>